<h1 class="text-center">Contato</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form ng-submit="salva()" <div class="form-group">
    <label for="curso">Curso</label>
    <input type="text" class="form-control" id="curso" name="curso" required ng-model="curso.curso">
    </div>

    <div class="form-group">
        <label for="coordenador">Coordenador</label>
        <div class="input-group">
            <span class="input-group-addon"></span>
            <input type="text" class="form-control" id="coordenador" placeholder="Coordenador" name="coordenador" ng-model="curso.coordenador" required>
        </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">
			 Salvar
		  </button>
      <a href="#/" class="btn btn-default">Voltar</a>
    </div>
</form>